@font-face {
    font-family: "bisnode-sans";
    src: url("assets/bisnode-sans/BisnodeSans-Bold.eot") format("OpenType"),
        url("assets/bisnode-sans/BisnodeSans-Bold.woff") format("woff"),
        url("assets/bisnode-sans/BisnodeSans-Bold.woff2") format("woff2");
        font-weight: normal;
}

@font-face {
    font-family: "bisnode-sans";
    src: url("assets/bisnode-sans/BisnodeSans-Regular.eot") format("OpenType"),
         url("assets/bisnode-sans/BisnodeSans-Regular.woff") format("woff"),
         url("assets/bisnode-sans/BisnodeSans-Regular.woff2") format("woff2");
         font-weight: bold;
}

html,
body,
html body {
    font-family: 'Roboto', Helvetica, Arial, Verdana, sans-serif;
    background-color: #242b43;
    font-size: 16px;
}

html body .reveal section * {
    font-family: 'Roboto', Helvetica, Arial, Verdana, sans-serif;
}

.reveal .controls[data-controls-layout="edges"] {
    color: #329e98;
}

.reveal .chapter h1 {
    color: #329e98;
}

.reveal .hl-red {
    color: #d53868;
}

.reveal .hl-orange {
    color: #d59e38;
}
.reveal .hl-green {
    color: #329e98;
}

#bis-logo {
    position: fixed;
    bottom: 2rem;
    left: 1.5rem;
    height: 3rem;
}

#anim-step {
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
    background: transparent;
    border: 1px solid silver;
}

body .reveal.center,
body .reveal.center .slides,
body .reveal.center .slides section {
    box-sizing: border-box;
}

.reveal section blockquote,
.reveal section p {
    text-align: left;
}

html body .reveal section h1,
html body .reveal section h2,
html body .reveal section h3,
html body .reveal section h4 {
    font-family: bisnode-sans, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.5em 0 1em;
    color: #d53868;
}

body .reveal blockquote {
    font-style: normal;
}

.reveal blockquote legend {
    margin: 0.5rem;
}

.reveal a, .reveal a:hover, .reveal a:active, .reveal a:visited {
    color: #329e98;
}

.reveal .footnote {
    font-size: 0.75em;
    text-align: right;
}
.anim-line {
    visibility: hidden;
}
.dash-to-server {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1s linear forwards;
}
.dash-from-server {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1s linear forwards;
}

.ws-path1{
    opacity: 0;
    animation: letter 1s linear forwards;
    animation-delay: 0.5s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

ul.anim-list {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 21rem;
    list-style-type: none;
}

.reveal .slides section ul.anim-list li.fragment {
    display: inline-block;
    list-style-type: none;
    width: 1rem; height: 1rem;
    border: 1px solid silver;
    border-radius: 0.5rem;
    padding: 0;
    margin: 0;
    visibility: visible;
    opacity: 1;
}

.reveal .slides section ul.anim-list li.fragment.current-fragment { 
    background-color: #828282;
    border: 1px solid #828282;
}

#title h1 {
    color: #d53868;
    margin-bottom: 3rem;
}
#title h4 {
    color: white;
}